/* Hire.css */
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
 }
 
 #main {
  display: flex;
  flex-direction: row;
  width: 70%;
 }
 
 #sidebar {
  width: 25%;
  margin-left: 20px;
 }
 