.Auth-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-button {
  background-color: transparent;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 10px;
  cursor: pointer;
}
